
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-use.cookieToolbar="com.greencity.core.models.CookieToolbar"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">

    <sly data-sly-test.hasContent="${cookieToolbar.hasLeft || cookieToolbar.hasRight}">
        <div class="cmp-cookietoolbar">
            <div data-sly-test="${cookieToolbar.hasLeft}" class="cmp-cookietoolbar__left">
                <sly data-sly-resource="${cookieToolbar.left.path @ resourceType='greencity/components/cookietoolbar/left'}"/>
            </div>
            <div data-sly-test="${cookieToolbar.hasRight}" class="cmp-cookietoolbar__right">
                <sly data-sly-resource="${cookieToolbar.right.path @ resourceType='greencity/components/cookietoolbar/right'}"/>
            </div>
            <div class="cmp-cookietoolbar__sample">
                ${cookieToolbar.sampleText}
            </div>
        </div>
    </sly>

    <sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-cookietoolbar'}"></sly>
</sly>

