<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-use.rightModel="com.greencity.core.models.RightModel" />
<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />
<sly data-sly-call="${clientlib.css @ categories='greencity.cookietoolbar'}"/>
<div class="cmp-cookietoolbar__right-container">
    <button data-sly-test="${rightModel.button1Label}"
            style="background-color: ${rightModel.button1Color ? rightModel.button1Color : 'inherit' @ context='styleString'};">
        ${rightModel.button1Label}
    </button>
    <button data-sly-test="${rightModel.button2Label}"
            style="background-color: ${rightModel.button2Color ? rightModel.button2Color : 'inherit' @ context='styleString'};">
        ${rightModel.button2Label}
    </button>
    <sly data-sly-call="${templates.placeholder @ isEmpty=!rightModel.button1Label && !rightModel.button2Label}" />
</div>